/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes glow {
  /* line 5, ../sass/_mixins.scss */
  from {
    box-shadow: 0 0 0px green;
  }

  /* line 8, ../sass/_mixins.scss */
  to {
    box-shadow: 0 0 10px green;
  }
}

@-webkit-keyframes glow {
  /* line 5, ../sass/_mixins.scss */
  from {
    box-shadow: 0 0 0px green;
  }

  /* line 8, ../sass/_mixins.scss */
  to {
    box-shadow: 0 0 10px green;
  }
}

@-o-keyframes glow {
  /* line 5, ../sass/_mixins.scss */
  from {
    box-shadow: 0 0 0px green;
  }

  /* line 8, ../sass/_mixins.scss */
  to {
    box-shadow: 0 0 10px green;
  }
}

@-ms-keyframes glow {
  /* line 5, ../sass/_mixins.scss */
  from {
    box-shadow: 0 0 0px green;
  }

  /* line 8, ../sass/_mixins.scss */
  to {
    box-shadow: 0 0 10px green;
  }
}

@keyframes glow {
  /* line 5, ../sass/_mixins.scss */
  from {
    box-shadow: 0 0 0px green;
  }

  /* line 8, ../sass/_mixins.scss */
  to {
    box-shadow: 0 0 10px green;
  }
}

@-moz-keyframes flying {
  /* line 33, ../sass/screen.scss */
  from {
    -moz-transform: translateZ(10px);
    transform: translateZ(10px);
  }

  /* line 36, ../sass/screen.scss */
  to {
    -moz-transform: translateZ(25px) translateY(-5px);
    transform: translateZ(25px) translateY(-5px);
  }
}

@-webkit-keyframes flying {
  /* line 33, ../sass/screen.scss */
  from {
    -webkit-transform: translateZ(10px);
    transform: translateZ(10px);
  }

  /* line 36, ../sass/screen.scss */
  to {
    -webkit-transform: translateZ(25px) translateY(-5px);
    transform: translateZ(25px) translateY(-5px);
  }
}

@-o-keyframes flying {
  /* line 33, ../sass/screen.scss */
  from {
    -o-transform: translateZ(10px);
    transform: translateZ(10px);
  }

  /* line 36, ../sass/screen.scss */
  to {
    -o-transform: translateZ(25px) translateY(-5px);
    transform: translateZ(25px) translateY(-5px);
  }
}

@-ms-keyframes flying {
  /* line 33, ../sass/screen.scss */
  from {
    -ms-transform: translateZ(10px);
    transform: translateZ(10px);
  }

  /* line 36, ../sass/screen.scss */
  to {
    -ms-transform: translateZ(25px) translateY(-5px);
    transform: translateZ(25px) translateY(-5px);
  }
}

@keyframes flying {
  /* line 33, ../sass/screen.scss */
  from {
    -webkit-transform: translateZ(10px);
    -moz-transform: translateZ(10px);
    -ms-transform: translateZ(10px);
    -o-transform: translateZ(10px);
    transform: translateZ(10px);
  }

  /* line 36, ../sass/screen.scss */
  to {
    -webkit-transform: translateZ(25px) translateY(-5px);
    -moz-transform: translateZ(25px) translateY(-5px);
    -ms-transform: translateZ(25px) translateY(-5px);
    -o-transform: translateZ(25px) translateY(-5px);
    transform: translateZ(25px) translateY(-5px);
  }
}

/* line 51, ../sass/screen.scss */
.actionable, .card, .button {
  border: 1px solid black;
  background-color: wheat;
}
/* line 54, ../sass/screen.scss */
.actionable.target, .target.card, .target.button {
  cursor: pointer;
  background-color: limegreen;
}
/* line 43, ../sass/screen.scss */
.actionable.target.move, .target.move.card, .target.move.button {
  cursor: move;
}
/* line 46, ../sass/screen.scss */
.actionable.target.attack, .target.attack.card, .target.attack.button {
  cursor: crosshair;
}
/* line 57, ../sass/screen.scss */
.actionable.target:hover, .target.card:hover, .target.button:hover {
  background-color: lightblue;
  cursor: pointer;
}
/* line 62, ../sass/screen.scss */
.actionable.selected, .selected.card, .selected.button {
  background-color: #e9b759;
}

/* line 67, ../sass/screen.scss */
.card {
  width: 150px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}
/* line 73, ../sass/screen.scss */
.card .card-name {
  float: left;
}
/* line 76, ../sass/screen.scss */
.card .card-cost {
  float: right;
}

/* line 81, ../sass/screen.scss */
.button {
  display: inline;
}

/* line 86, ../sass/screen.scss */
.disabled {
  opacity: .3;
}

/* line 101, ../sass/screen.scss */
.board {
  display: table;
  cursor: default;
}
/* line 104, ../sass/screen.scss */
.board .row {
  clear: both;
}
/* line 106, ../sass/screen.scss */
.board .row .space {
  display: inline-block;
  float: left;
  width: 104px;
  margin-right: 4px;
  height: 120px;
  margin-top: -26px;
}
/* line 114, ../sass/screen.scss */
.board .row .space .top {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  border-bottom: 30px solid wheat;
  border-left: 52px dotted transparent;
  border-right: 52px dotted transparent;
}
/* line 123, ../sass/screen.scss */
.board .row .space .content {
  display: block;
  width: 104px;
  height: 60px;
  text-align: center;
  background: wheat;
}
/* line 130, ../sass/screen.scss */
.board .row .space .bottom {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 30px solid wheat;
  border-left: 52px dotted transparent;
  border-right: 52px dotted transparent;
}
/* line 90, ../sass/screen.scss */
.board .row .space.player1 .top {
  border-bottom-color: #daf5b3;
}
/* line 93, ../sass/screen.scss */
.board .row .space.player1 .content {
  background: #daf5b3;
}
/* line 96, ../sass/screen.scss */
.board .row .space.player1 .bottom {
  border-top-color: #daf5b3;
}
/* line 90, ../sass/screen.scss */
.board .row .space.player2 .top {
  border-bottom-color: #f5b3b9;
}
/* line 93, ../sass/screen.scss */
.board .row .space.player2 .content {
  background: #f5b3b9;
}
/* line 96, ../sass/screen.scss */
.board .row .space.player2 .bottom {
  border-top-color: #f5b3b9;
}
/* line 145, ../sass/screen.scss */
.board .row .space .creature {
  height: 100%;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
}
/* line 148, ../sass/screen.scss */
.board .row .space .creature .name {
  font-size: 24px;
}
/* line 151, ../sass/screen.scss */
.board .row .space .creature .stats {
  font-size: 14px;
}
/* line 153, ../sass/screen.scss */
.board .row .space .creature .stats .increased {
  color: green;
}
/* line 156, ../sass/screen.scss */
.board .row .space .creature .stats .decreased {
  color: red;
}
/* line 160, ../sass/screen.scss */
.board .row .space .creature.player1 {
  background: #afe959;
}
/* line 163, ../sass/screen.scss */
.board .row .space .creature.player2 {
  background: #e95967;
}
/* line 166, ../sass/screen.scss */
.board .row .space .creature.flying {
  -webkit-animation: flying 600ms linear alternate infinite;
  -moz-animation: flying 600ms linear alternate infinite;
  -ms-animation: flying 600ms linear alternate infinite;
  -o-animation: flying 600ms linear alternate infinite;
  animation: flying 600ms linear alternate infinite;
}
/* line 170, ../sass/screen.scss */
.board .row .space.target {
  cursor: pointer;
}
/* line 43, ../sass/screen.scss */
.board .row .space.target.move {
  cursor: move;
}
/* line 46, ../sass/screen.scss */
.board .row .space.target.attack {
  cursor: crosshair;
}
/* line 90, ../sass/screen.scss */
.board .row .space.target .top {
  border-bottom-color: limegreen;
}
/* line 93, ../sass/screen.scss */
.board .row .space.target .content {
  background: limegreen;
}
/* line 96, ../sass/screen.scss */
.board .row .space.target .bottom {
  border-top-color: limegreen;
}
/* line 90, ../sass/screen.scss */
.board .row .space.target:hover .top {
  border-bottom-color: lightblue;
}
/* line 93, ../sass/screen.scss */
.board .row .space.target:hover .content {
  background: lightblue;
}
/* line 96, ../sass/screen.scss */
.board .row .space.target:hover .bottom {
  border-top-color: lightblue;
}
/* line 90, ../sass/screen.scss */
.board .row .space.target.player1 .top {
  border-bottom-color: #32cd73;
}
/* line 93, ../sass/screen.scss */
.board .row .space.target.player1 .content {
  background: #32cd73;
}
/* line 96, ../sass/screen.scss */
.board .row .space.target.player1 .bottom {
  border-top-color: #32cd73;
}
/* line 90, ../sass/screen.scss */
.board .row .space.target.player2 .top {
  border-bottom-color: #73cd32;
}
/* line 93, ../sass/screen.scss */
.board .row .space.target.player2 .content {
  background: #73cd32;
}
/* line 96, ../sass/screen.scss */
.board .row .space.target.player2 .bottom {
  border-top-color: #73cd32;
}
/* line 90, ../sass/screen.scss */
.board .row .space:hover .top {
  border-bottom-color: #efca86;
}
/* line 93, ../sass/screen.scss */
.board .row .space:hover .content {
  background: #efca86;
}
/* line 96, ../sass/screen.scss */
.board .row .space:hover .bottom {
  border-top-color: #efca86;
}
/* line 187, ../sass/screen.scss */
.board .row:first-child .space {
  margin-top: 0;
}
/* line 190, ../sass/screen.scss */
.board .row:nth-child(odd) .space:nth-child(1) {
  padding-left: 54px;
}
